.grid-thumb-overlay.articles:hover {
  cursor: default;
  }

.grid-thumb-overlay.articlePostBanner h1 {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
  
li img.articlePostBannerImg{
  box-shadow: none !important;
  clip-path: ellipse(100% 94% at 13% 5%);
}

section.sect.article-banner {
  margin: 0;
  padding: 0;
}

ul.grid-service.article > li {
  margin: 0;
  max-width: none
}

ul.articles-thumb-tags li {
  font-size: .5rem;
}

.articles-banner-posted-date {
  position: absolute;
  bottom: 0;
  right: 2rem;
}

div#banner {
  @media screen and (min-width: 930px) {
    width: 930px;
    margin: 0 auto;
  };
}

ul.grid-service.article > li {
  @media screen and (min-width: 930px) {
    width: 930px
  }

  @media screen and (min-width: 1150px) {
    width: 930px
  }
}

article.study .img-container {
  width: 80vw;
  max-width: 650px;
  margin: 0 auto;
}

article.study ul, article.study  ol, article.study li {
  color: $light-grey;
}

article.study .img-container img {
  width: 100%;
}

article.study  p, article.study li {
  line-height: 1.5;
}

article.study li {
  text-align: left;
}

article.study h2 {
  margin: 40px 0;
}

@media screen and (min-width: 768px) {
  article.study p, article.study li, article.study h2 {
    text-align: left;
  }

  article.study p, article.study li {
    font-size: $l-size;
  }

  article.study h2 {
    font-size: $xl-size;
  }
}

@media screen and (min-width: 1200px) {
  article.study p, article.study li {
    font-size: $ll-size;
  }

  article.study h2 {
    font-size: $xxl-size;
  }
}