footer {
  margin-top: $xxxl-size;
}

footer p {
  text-align: center;
  font-size: $m-size
}

footer div.crane-kudos {
  text-align: center;
  color: rgb(167, 167, 167);
}

footer div.crane-kudos a{
  color: rgb(144, 72, 158);
  font-size: $s-size;
}

