div.links-bar {
  text-align: center;
  margin: 10px 0 10px;
  font-size: .8em;
  display: flex;
  justify-content: space-between;
  /* rgba(136, 71, 71, 0.2) */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#884747+0,ffffff+100 */
  background: rgba(136, 71, 71, 0.2); /* Old browsers */
  background: -moz-linear-gradient(left,  #F7F6F5 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #F7F6F5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #F7F6F5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F6F5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0,0,0, .1);
  padding: 0 10px;
  border-radius: 10px;
}

div.links-bar ul {
  display: flex;
}

div.links-bar ul li {
  padding: 2px 4px;
  /* background: #65297A; */
  border: 1px solid black;
  border-radius: 2px;
  color: rgb(158, 158, 158);
  list-style: none;
  margin-left: 5px;
  cursor: pointer;
  background: rgba(113,78,95, .95);
}

div.links-bar ul li.current-page {
  color: #FFF;
  box-shadow: inset 1px 1px 10px rgba(0,0,0, .8)

}

div.links-bar ul li:active {
  color: #FFF;
  box-shadow: inset 2px 2px 6px rgba(0,0,0, .8);
}