// COLORS
$dark-blue: #0A1830;
$purple: rgba(113,78,95, .95);
$light-grey: rgb(136, 136, 136);
$off-black: rgb(65, 65, 65);
$button-pink: #A5035C;
$pink-red-overlay: rgb(118,6,55);

// FONTS & SPACING 
$xxxs-size: .5rem;
$xxs-size: .85rem;
$xs-size: 1rem;
$s-size: 1.3rem;
$m-size:1.5rem;
$ml-size: 1.8rem;
$l-size: 2rem;
$xl-size: 3rem;
$xxl-size: 3.5rem;
$xxxl-size: 4rem;

// DEVICE BREAKPOINTS
$m-breakpoint: 45rem;
$l-breakpoint: 90rem;
$xl-breakpoint: 1250rem;

